* {
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: "Press Start 2P", cursive;
  position: relative;
  margin: 0;
}

.navigation {
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.2em;
  background-color: #ddd;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
}
.navigation__heading-logo {
  display: flex;
}
.navigation__heading-span {
  color: #008a15;
}
.navigation__items {
  display: flex;
  list-style: none;
  text-decoration: none;
}
.navigation__item {
  margin-right: 4em;
  list-style: none;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  transition: color 0.7s ease-in-out;
}
.navigation__item:hover {
  color: #008a15;
}

.hero {
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero__img {
  background-image: url(/img/header-big.jpg);
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  z-index: -1;
}
.hero__welcome {
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__welcome-text {
  display: flex;
  flex-direction: column;
  color: white;
}
.hero__welcome-heading {
  font-size: 2rem;
  margin-bottom: 20px;
}
.hero__welcome-heading span {
  color: #008a15;
}
.hero__welcome-p {
  font-size: 0.9rem;
}
.hero__welcome-btn {
  color: white;
  background: none;
  font-family: "Press Start 2P", cursive;
  border-radius: 25px;
  padding: 15px;
  margin-top: 20px;
  transition: 0.7s background-color;
}
.hero__welcome-btn:hover {
  background-color: #008a15;
  cursor: pointer;
}

.about-us {
  width: 100vw;
  height: 25vh;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.about-us__heading {
  position: relative;
}
.about-us__heading::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
}
.about-us__info-boxes {
  max-width: 1600px;
  height: 15vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.about-us__info-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
}
.about-us__info-box:hover {
  color: #008a15;
}
.about-us__info-box-heading {
  font-size: 1.2em;
  margin-bottom: 25px;
}
.about-us__info-box-description {
  font-size: 0.8em;
  text-align: center;
}

.creating {
  width: 100vw;
  height: 25vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/about-her-big.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.creating__heading {
  font-size: 1.5rem;
  margin-bottom: 60px;
  position: relative;
}
.creating__heading::after {
  content: "";
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
}
.creating__info-boxes {
  display: flex;
  flex-direction: row;
  width: 1200px;
}
.creating__info-box {
  width: 300px;
}
.creating__info-box-heading {
  font-size: 1.3em;
  margin-bottom: 25px;
  text-align: center;
}
.creating__info-box-description {
  font-size: 1em;
  text-align: center;
  padding-top: 10px;
  line-height: 20px;
}

.showcase {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ddd;
  height: 90vh;
  width: 100vw;
}
.showcase__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 80%;
  margin-bottom: 2em;
}
.showcase__heading {
  font-size: 1.3em;
  position: relative;
  margin-bottom: 3em;
}
.showcase__heading::after {
  content: "";
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
  position: absolute;
}
.showcase__cards-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showcase__card {
  width: 33.3%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 3em;
  color: white;
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: 0.7s;
}
.showcase__card:hover {
  width: 43%;
  height: 110%;
}
.showcase__card-title {
  font-size: 1.2em;
  margin-top: 1em;
  position: relative;
  text-shadow: 5px 5px black;
}
.showcase__card-title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
  width: 50%;
}
.showcase__card-stats {
  width: 100%;
  height: 20%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1em;
  margin-bottom: 3em;
  background-color: rgba(0, 0, 0, 0.8);
}
.showcase__card-stats span {
  color: #008a15;
}
.showcase__card-one {
  background-image: url(/img/car-lettering-1547641_1920.jpg);
  box-shadow: -30px 15px 25px 0px rgb(0, 0, 0);
}
.showcase__card-two {
  background-image: url(/img/skyrim.jpg);
  box-shadow: 0px 15px 16px 0px rgb(66, 68, 90);
}
.showcase__card-three {
  background-image: url(/img/tomb-raider.jpg);
  box-shadow: 30px 15px 25px 0px rgb(0, 0, 0);
}

.achievements {
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ebecf2;
}
.achievements__title {
  font-size: 1.9em;
  position: relative;
  margin-top: 0.5em;
}
.achievements__title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
}
.achievements__slideshow {
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.achievements__slideshow-item {
  width: 55%;
  height: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 2em;
}
.achievements__slideshow-item span {
  color: #008a15;
  font-size: 1.3em;
}

.team {
  width: 100vw;
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/team-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.team__container {
  width: 100%;
  height: 100%;
}
.team__title {
  margin-top: 0.5em 0 0 0;
  height: 10%;
  width: 2em;
  font-size: 3;
  position: relative;
}
.team__title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
}
.team__slide-text {
  font-size: 0.4em;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: black;
  color: white;
}
.team__text-heading {
  font-size: 1.5em;
  margin-top: 1em;
  position: relative;
}
.team__text-heading::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 50%;
  bottom: -50%;
  left: 50%;
  transform: translatex(-50%);
  background-color: #008a15;
  border-radius: 20px;
}

.slideshow_container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  display: block;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin-top: 2em;
  background-color: white;
}

.slider__slides {
  width: 100%;
  padding-top: 70%;
}

.slider__slide {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 50px;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: lemonchiffon;
  transition: 1s;
  opacity: 0;
}

.slider__slide.active {
  opacity: 1;
}

.slider__slide img {
  width: 100%;
  height: 70%;
}

.slider__nav-button {
  position: absolute;
  height: 70px;
  width: 70px;
  background-color: #333;
  opacity: 0.8;
  cursor: pointer;
}

#nav-button--prev {
  top: 50%;
  left: -10%;
  transform: translateY(-50%);
}

#nav-button--next {
  top: 50%;
  right: -10%;
  transform: translateY(-50%);
}

#nav-button--prev::after,
#nav-button--next::after {
  content: "";
  position: absolute;
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 3px;
  width: 40%;
  height: 40%;
}

#nav-button--next::after {
  top: 50%;
  right: 50%;
  transform: translate(25%, -50%) rotate(-45deg);
}

#nav-button--prev::after {
  top: 50%;
  right: 50%;
  transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.slider__navlink {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px #fff solid;
  background-color: #333;
  opacity: 1;
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.slider__navlink.active {
  background-color: #fff;
  border: 1px #333 solid;
}/*# sourceMappingURL=main.css.map */