@import "colors";
@import "mixin";

* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: "Press Start 2P", cursive;
	position: relative;
	margin: 0;
}

.navigation {
	width: 100vw;
	height: 10vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	letter-spacing: 0.2em;
	background-color: $light-gray;
	position: sticky;
	top: 0;
	z-index: 5;

	&__heading-logo {
		display: flex;
	}
	&__heading-span {
		color: $main-color;
	}

	&__items {
		display: flex;
		list-style: none;
		text-decoration: none;
	}

	&__item {
		margin-right: 4em;
		list-style: none;
		font-size: 0.8em;
		text-decoration: none;
		color: black;
		transition: color 0.7s ease-in-out;

		&:hover {
			color: $main-color;
		}
	}
}

.hero {
	width: 100vw;
	height: 90vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba($color: #000000, $alpha: 0.5);

	&__img {
		background-image: url(/img/header-big.jpg);
		width: 100%;
		height: 100%;
		position: absolute;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		top: 0;
		z-index: -1;
	}

	&__welcome {
		height: 15vh;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__welcome-text {
		display: flex;
		flex-direction: column;
		color: white;
	}

	&__welcome-heading {
		font-size: 2rem;
		margin-bottom: 20px;
	}
	&__welcome-heading span {
		color: $main-color;
	}

	&__welcome-p {
		font-size: 0.9rem;
	}

	&__welcome-btn {
		color: white;
		background: none;
		font-family: "Press Start 2P", cursive;
		border-radius: 25px;
		padding: 15px;
		margin-top: 20px;
		transition: 0.7s background-color;

		&:hover {
			background-color: $main-color;
			cursor: pointer;
		}
	}
}

.about-us {
	width: 100vw;
	height: 25vh;
	background-color: $light-gray;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	position: relative;

	&__heading {
		position: relative;
		&::after {
			@include green-bar;
		}
	}

	&__info-boxes {
		max-width: 1600px;
		height: 15vh;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__info-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 500px;
		height: 100px;

		&:hover {
			color: $main-color;
		}
	}

	&__info-box-heading {
		font-size: 1.2em;
		margin-bottom: 25px;
	}

	&__info-box-description {
		font-size: 0.8em;
		text-align: center;
	}
}

.creating {
	width: 100vw;
	height: 25vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(/img/about-her-big.jpg);
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;

	&__heading {
		font-size: 1.5rem;
		margin-bottom: 80px;
		position: relative;

		&::after {
			content: "";
			@include green-bar;
		}
	}

	&__info-boxes {
		display: flex;
		flex-direction: row;
		width: 1200px;
	}

	&__info-box {
		width: 300px;
	}

	&__info-box-heading {
		font-size: 1.3em;
		margin-bottom: 25px;
		text-align: center;
	}

	&__info-box-description {
		font-size: 1em;
		text-align: center;
		padding-top: 10px;
		line-height: 20px;
	}
}

.showcase {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $light-gray;
	height: 80vh;
	width: 100vw;

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 95%;
		height: 90%;
	}

	&__heading {
		font-size: 1.3em;
		position: relative;
		margin-bottom: 3em;

		&::after {
			content: "";
			@include green-bar;

			position: absolute;
		}
	}

	&__cards-container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__card {
		width: 33.3%;
		height: 100%;
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		margin: 0 3em;
		border-radius: 15%;
		color: white;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
	}

	&__card-title {
		font-size: 1.2em;
		margin-top: 1em;
		position: relative;
		text-shadow: 5px 5px black;

		&::after {
			@include green-bar;
			width: 50%;
		}
	}

	&__card-stats {
		width: 100%;
		height: 20%;
		text-align: center;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 1em;
		margin-bottom: 3em;
		background-color: rgba($color: #000000, $alpha: 0.8);
	}

	&__card-stats span {
		color: $main-color;
	}

	&__card-one {
		background-image: url(/img/car-lettering-1547641_1920.jpg);
		-webkit-box-shadow: -30px 15px 25px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow: -30px 15px 25px 0px rgba(0, 0, 0, 1);
		box-shadow: -30px 15px 25px 0px rgba(0, 0, 0, 1);
	}

	&__card-two {
		background-image: url(/img/skyrim.jpg);
		-webkit-box-shadow: 0px 15px 16px 0px rgba(66, 68, 90, 1);
		-moz-box-shadow: 0px 15px 16px 0px rgba(66, 68, 90, 1);
		box-shadow: 0px 15px 16px 0px rgba(66, 68, 90, 1);
	}

	&__card-three {
		background-image: url(/img/tomb-raider.jpg);
		-webkit-box-shadow: 30px 15px 25px 0px rgba(0, 0, 0, 1);
		-moz-box-shadow: 30px 15px 25px 0px rgba(0, 0, 0, 1);
		box-shadow: 30px 15px 25px 0px rgba(0, 0, 0, 1);
	}
}
